<div class="container"> 
	<div class="row text-center"> 
    <!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewpost">
			New Post
		</button>
	</div>

	<br><hr>
	<div class="row" id="container_posts">
		<%= render @posts %>
	</div>

	<%= form_for(@post, remote: true) do |f| %>
		<!-- Modal -->
		<div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Post</h4>
					</div>
					<div class="modal-body">
						<div class="field">
							<%= f.label :title %> <br>
							<%= f.text_field :title, class:"form-control post_title" %>
						</div>
						<div class="field">
							<%= f.label :content %> <br>
							<%= f.text_area :content, class:"form-control post_content" %>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= submit_tag 'Create', class: "btn btn-primary" %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>